.navbar {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  justify-content: space-between;
  align-items: center;
  color: var(--nav-text);
  height: 60px;
  border-radius: 20px;
  padding: 0 24px;
  width: 60%;
  margin: 28px auto;
  background: rgba(51, 120, 64, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  border: 1px solid rgba(51, 120, 64, 0.3);

  ul {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    cursor: pointer;
    li {
      font-size: 1rem;
      position: relative;
      z-index: 2;
      &:hover {
        transform: translateY(-3px);
        transition: all 0.4s ease;
      }
    }
  }
}
.button-style {
  justify-self: end;
  all: unset;
  width: 100px;
  height: 24px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-style::after,
.button-style::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-style::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #0aa97a;
  border-radius: 10px;
}

.button-style::after {
  transform: translate(10px, 10px);
  width: 30px;
  height: 30px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-style:hover::before {
  transform: translate(12%, 12%);
  width: 110%;
  height: 110%;
}

.button-style:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-style:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

figure {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
li::after {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -99999;
  transition: all 0.4s;
  padding: 20px;
}
li::after {
  transform: translate(10px, 10px);
  width: fit-content;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}
li:hover::after {
  content: "";
  border-radius: 10px;
  transform: translate(-50%, -25%);
  width: 100%;
  height: 75%;
}

li:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
